@font-face {
  font-family: 'Advent Pro Bold';
  src: url('../fonts/advent-pro-bold.ttf');
}

@font-face {
  font-family: 'Advent Pro Regular';
  src: url('../fonts/advent-pro-regular.ttf');
}

body {
  font-family: 'Advent Pro Regular', sans-serif;
  font-size: medium;
}

h1,
h2 {
  color: #cc6600;
}

h1 {
  font-family: 'Advent Pro Bold', sans-serif;
  font-size: 170%;
}

h2 {
  font-size: 130%;
  font-weight: normal;
  border-bottom-style: dotted;
  border-bottom-width: thin;
  border-bottom-color: #888;
}

blockquote {
  font-style: italic;
}