@media screen and (min-width: 480px) and (orientation: landscape) {
    
    div#aside {
        float: left;
        padding: 0px;
        margin: 0px 15px 15px 15px;
        width: 30%;
    }
    
    div#main {
        padding: 0px;
        margin: 15px 15px 15px 32.084%;
    }
    
    div.section {
        padding: 25px;
        margin-bottom: 15px;
    }
    
    div#footer {
        background-color: rgb(4, 138, 104);
        color: rgb(255, 255, 255);
        clear: left;
        font-family: 'MontSerrat Regular', sans-serif;
        padding: 25px;
        margin: 15px 15px 0px 15px;
    }

    div#footer div {
        text-align: center;
    }

    div#aside,
    div.section {
        background-color: rgb(255, 255, 255);
        border-style: solid;
        border-width: thin;
        border-color: rgb(230, 230, 230);
        border-radius: 0.5em;
    }

    div#footer {
        border-style: solid;
        border-width: thin;
        border-color: rgb(230, 230, 230);
        border-radius: 0.5em;
    }

    div#aside img {
        border-top-right-radius: 0.5em;
        border-top-left-radius: 0.5em;
    }

    div#aside div#personal {
        padding: 25px 25px 0px 25px;
    }

    div#aside h2 {
        position: absolute;
        top: 28%;
    }

}