@media screen and (min-width: 480px) and (orientation: landscape) {
    
    aside#aside {
        float: left;
        padding: 0px;
        margin: 0px 15px 15px 15px;
        width: 30%;
    }

    aside#aside div h2 {
        margin: 0px;
        position: relative;
        top: -50px;
        left: 25px;
    }

    aside#aside section#personal p:first-child {
        margin-top: 0px;
    }

    aside#aside img {
        border-top-right-radius: 0.5em;
        border-top-left-radius: 0.5em;
    }

    aside#aside section#personal {
        padding: 0px 25px 0px 25px;
    }

    aside#aside section#personal ul li {
        list-style-type: none;
    }

    aside#aside,
    section#main section {
        background-color: rgb(255, 255, 255);
        border-style: solid;
        border-width: thin;
        border-color: rgb(230, 230, 230);
        border-radius: 0.5em;
    }

    section#main {
        padding: 0px;
        margin: 15px 15px 15px 32.084%;
    }
    
    section#main section {
        padding: 25px;
        margin-bottom: 15px;
    }

    
    
    footer#footer {
        background-color: rgb(4, 138, 104);
        color: rgb(255, 255, 255);
        clear: left;
        font-family: 'MontSerrat Regular', sans-serif;
        font-size: 0.85em;
        padding: 10px 25px 25px 25px;
        margin: 15px 0px 0px 0px;
    }

    footer#footer p {
        text-align: center;
    }

}