<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>The Starbuzz Bean Machine</title>

    <link type="text/css" rel="stylesheet" href="../css/style.css">
    <link type="text/css" rel="stylesheet" href="../css/form.css">
</head>

<body>
    <header class="header">
        <img id="header-logo" src="../img/header-logo.gif" alt="Starbuzz Header Logo" width="229" height="108">
        <img id="header-slogan" src="../img/header-slogan.gif" alt="Starbuzz Slogan" width="266" height="108">
    </header>

    <nav>
        <ul>
            <li><a href="../../home.html" title="Starbuzz Coffee Home">Home</a></li>
            <li><a href="./blog.html" title="Starbuzz Coffee Blog">Blog</a></li>
            <li class="selected"><a href="./form.html" title="Starbuzz Bean Machine">Bean Machine</a></li>
            <li><a href="" title="Starbuzz Coffee Inventions">Inventions</a></li>
            <li><a href="" title="Starbuzz Coffee Recipes">Recipes</a></li>
            <li><a href="" title="Starbuzz Coffee Locations">Locations</a></li>
        </ul>
    </nav>

    <section id="main">
        <header>
            <h1>The Starbuzz Bean Machine</h1>
            <h2>Fill out the form below and click "order now" to order.</h2>
        </header>

        <form action="http://www.starbuzzcoffee.com/processorder.php" method="post">
            <div class="table">
                <fieldset>
                    <legend>Order Details</legend>
                    <div class="table-row">
                        <label for="" class="table-cell">Choose your beans:</label>
                        <p class="table-cell">
                            <select name="beans">
                                <option value="house">House Blend</option>
                                <option value="bolivia">Shade Grown Bolivia Supremo</option>
                                <option value="guatemala">Organic Guatemala</option>
                                <option value="kenya">Kenya</option>
                            </select>
                        </p>
                    </div>

                    <div class="table-row">
                        <label class="table-cell">Type:</label>
                        <p class="table-cell">
                            <input type="radio" name="beantype" value="whole" id="whole">
                            <label for="whole">Whole Bean</label> <br>
                            <input type="radio" name="beantype" value="ground" id="ground" checked>
                            <label for="ground">Ground Bean</label>
                        </p>
                    </div>

                    <div class="table-row">
                        <label class="table-cell">Extras:</label>
                        <p class="table-cell">
                            <input type="checkbox" name="extras[]" value="giftwrap" id="giftwrap">
                            <label for="giftwrap">Gift Wrap</label> <br>
                            <input type="checkbox" name="extras[]" value="catalog" id="catalog" checked>
                            <label for="catalog">Include Catalog With Order</label>
                        </p>
                    </div>

                    <div class="table-row">
                        <label for="bags" class="table-cell">Number of Bags:</label>
                        <p class="table-cell">
                            <input type="number" name="bags" value="1" min="1" max="10" step="1" id="bags">
                        </p>
                    </div>

                    <div class="table-row">
                        <label for="date" class="table-cell">Must Arrive by Date:</label>
                        <p class="table-cell">
                            <input type="date" name="date" id="date">
                        </p>
                    </div>
                </fieldset>

                <fieldset>
                    <legend class="heading">Ship To</legend>
                    <div class="table-row">
                        <label for="name" class="table-cell">Name:</label>
                        <p class="table-cell">
                            <input type="text" name="name" value="" id="name">
                        </p>
                    </div>

                    <div class="table-row">
                        <label for="address" class="table-cell">Address:</label>
                        <p class="table-cell">
                            <input type="text" name="address" value="" id="address">
                        </p>
                    </div>

                    <div class="table-row">
                        <label for="city" class="table-cell">City:</label>
                        <p class="table-cell">
                            <input type="text" name="city" value="" id="city">
                        </p>
                    </div>

                    <div class="table-row">
                        <label for="state" class="table-cell">State:</label>
                        <p class="table-cell">
                            <input type="text" name="state" value="" id="state">
                        </p>
                    </div>

                    <div class="table-row">
                        <label for="zip" class="table-cell">Zip:</label>
                        <p class="table-cell">
                            <input type="text" name="zip" value="" id="zip">
                        </p>
                    </div>

                    <div class="table-row">
                        <label for="phone" class="table-cell">Phone:</label>
                        <p class="table-cell">
                            <input type="tel" name="phone" value="" id="phone">
                        </p>
                    </div>

                    <div class="table-row">
                        <label for="comments" class="table-cell">Customer Comments:</label>
                        <p class="table-cell">
                            <textarea name="comments" rows="10" cols="30" id="comments"></textarea>
                        </p>
                    </div>

                    <div class="table-row">
                        <p class="table-cell"></p>
                        <p class="table-cell">
                            <input type="submit" value="Order Now">
                        </p>
                    </div>
                </fieldset>
            </div>
        </form>
    </section>

    <footer>
        &copy; 2019, Starbuzz Coffee <br>
        All trademarks and registered trademarks appearing on this site are the property of their respective owners.
    </footer>
</body>

</html>