@media screen and (min-width: 481px) {
    body {
        font: medium/160% Verdana, Helvetica, Arial, sans-serif;
    }

    h1,
    h2 {
        color: #007e7e;
    }

    h1 {
        font-size: 150%;
    }

    h2 {
        font-size: 130%;
    }

    h3 {
        font-size: 110%;
    }

    p#guarantee {
        font: italic medium/190% 'Times New Roman', Times, serif;
        color: #444;
        border: thin dashed #fff;
        padding: 25px 25px 25px 80px;
        margin: 30px 250px 30px 30px;
        background: #a7cece url('images/background.gif') no-repeat top left;
    }

    div#elixirs {
        line-height: 1;
        border: thin solid #007e7e;
        background: url('images/cocktail.gif') repeat-x;
        padding: 0 20px 20px 20px;
        margin-left: 20px;
        text-align: center;
        width: 200px;
        float: right;
    }

    div#elixirs > h2 {
        color: black;
    }

    div#elixirs > h3 {
        color: #d12c47;
    }

    div#elixirs > a {
        color: #007e7e;
    }

    span.cd {
        font-style: italic;
    }

    span.artist {
        font-weight: bold;
    }
    
    a:link {
        color: #007e7e;
    }

    a:visited {
        color: #333;
    }

    div#elixirs a:hover {
        color: #0d5353;
        background: #f88396;
    }

    div#footer p {
        font-size: 50%;
        line-height: normal;
        margin-top: 30px;
        text-align: center;
    }
}