body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    font-size: medium;
    line-height: 1.8em;
}

h1 {
    text-align: center;
}

section {
    margin: 0px auto;
    padding: 20px;
    width: 60%;
}

section form fieldset {
    border-radius: 1.0em;
    margin-bottom: 10px;
}

section form div.table {
    border-spacing: 10px;
    display: table;
    width: 100%;
}

section form div.table-row {
    display: table-row;
}

section form label.table-cell,
section form div.table-cell {
    display: table-cell;
    vertical-align: top;
}