@font-face {
    font-family: 'Advent Pro Regular';
    src: url('../fonts/advent-pro-regular.ttf');
}

@font-face {
    font-family: 'Advent Pro Bold';
    src: url('../fonts/advent-pro-bold.ttf');
}